<template>

  <v-container fluid grid-list-lg>
    <!--{{ new Date() | moment("dddd, MMMM Do YYYY") }}-->
    <v-layout row wrap>
      <v-flex xs12 v-for="(weekday, index) in weekdays">
        <v-card color="blue" class="white--text">
          <v-card-title primary-title>
            <div class="headline">{{weekday}}  ({{moment().week(week).isoWeekday(index+1).format("DD.MM.YYYY")}})</div><br>
            <div v-if="tasks[index+1] != undefined">
              <v-data-table
                :headers="table_headers"
                :items="tasks[index+1]"
                hide-actions
                class="elevation-5"
                item-key="task_id"
              >
                <template slot="items" slot-scope="props">
                  <tr @click="props.expanded = !props.expanded">
                  <td style="padding: 0 24px;">{{ props.item.num }}</td>
                  <td class="text-xs-left">{{ props.item.name }}</td>
                  <td>{{ props.item.task }}</td>
                  </tr>
                </template>
                <template slot="expand" slot-scope="props" v-if="props.item.description != 'null'">
                  <v-card flat>
                    <v-card-text>{{props.item.description }}</v-card-text>
                  </v-card>
                </template>
              </v-data-table>
              <p class="mb-0 mt-3">Если вы увидели в конце домашки ... тогда нажмите по строке чтобы узнать подробности</p>
            </div>
              <v-alert
              :value="true"
              type="warning"
              v-else
            >
              Данных нет,
                возможно в ближайшее время будут
            </v-alert>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
    <v-btn color="info" @click.stop="getTasksByWeek(week - 1)">-</v-btn>
    {{week}}
    <v-btn color="info" @click.stop="getTasksByWeek(week + 1)">+</v-btn>
    <v-dialog
      v-model="waitdailog"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Отримка данних...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>

</template>

<script>
  import Vue from 'vue';
  export default {
    name: "Main",
    data: () => ({
      date: null,
      week: 0,
      menu: false,
      modal: false,
      waitdailog: true,
      synchronized: true,
      cordova: Vue.cordova,

      type: 1,
      db: null,
      tasks: [],

      weekdays: [],
      table_headers: [
        {'text': '#', value: 'num', width: '5px', sortable: false},
        {'text': 'Придмет', value: 'name', width: '5px', sortable: false},
        {'text': 'Домашка', value: 'task', width: '1000px', sortable: false},
      ]

    }),
    mounted() {
      var weekdays = this.$moment.weekdays();

      weekdays.shift(); //удаляем воскресение

      weekdays.forEach((element) => {
        this.weekdays.push(element[0].toUpperCase() + element.substring(1));
      });

      var val = window.localStorage.getItem('sync');
      if(val == 'true'){
        this.synchronized = false;
      }
    },
    created() {
      var self = this;
      this.cordova.on('deviceready', () => {
        self.onDeviceReady();
      });


    },
    methods: {
      onDeviceReady: function () {
        this.db = window.api.getDB();
        document.addEventListener("initd", (e) => {
          this.getTasksByWeek();
          // this.smartSync();
        })
        this.cordova.on('resume', this.getTasksByWeek, false);
      },
      sync(){
        if(this.synchronized == false) return;
        window.api.callApi('task.sync', {
          token: api.token,
        },(response) => {
          this.synchronized = false;
          window.localStorage.setItem('sync', 'true');
          document.addEventListener("endsync", (e) => {
            console.warn(navigator.app);
            alert('Синхронізація прошла успішно, натисніть OK та відкрийте додаток знову');
            navigator.app.exitApp();

          })
          document.addEventListener("notify", (e) => {
            // alert(JSON.stringify(e));
            // alert("An alert was needed, so now you got one!");
          });
        });
      },
      smartSync() {
        if(navigator.connection.type != Connection.WIFI) return
        console.log('sync');
        var min, week; //говнокод
        week = this.moment().week();
        alert('week: '+week);
        this.db.executeSql('SELECT id FROM notification  WHERE week >= "' + week + '" ORDER BY id ASC LIMIT 1', [], (rs) => {
         if(rs.rows.item(0) == undefined) return;
          min = rs.rows.item(0).id;
          alert('min: '+min);
          var max;
          this.db.executeSql('SELECT id FROM notification  WHERE week >= "' + week + '" ORDER BY id DESC LIMIT 1', [], (rs) => {
            max = rs.rows.item(0).id;
            alert('max: '+max);
            console.log('FUNC OK')
            var notify = {};
            this.db.executeSql('SELECT * FROM notification  WHERE week >= "' + week + '" ORDER BY type ASC', [], (rs) => {
              for (var i = 0; i < rs.rows.length; i++) {
                var item = rs.rows.item(i);
                notify[item.id] = {'task_id': item.task_id, 'id': item.id};
              }
              console.log('FUNC OK 2')
              var result = [];
              for (var i = min; i <= max; i++) {
                if(notify[i] == undefined){
                  result.push(i);
                }
              }
              alert(JSON.stringify(notify));
              alert(JSON.stringify(result));
              console.log(result);
              window.api.callApi('task.smartSync', {
                token: api.token,
                missing: result
              },(response) => {

              });
            }, function (error) {
              console.log('SELECT SQL statement ERROR: ' + error.message);
            })
          }, function (error) {
            console.log('SELECT SQL statement ERROR: ' + error.message);
          });
        }, function (error) {
          console.log('SELECT SQL statement ERROR: ' + error.message);
        });
      },
      getTasksByWeek(week = null) {
        var self = this;
        if(isNaN(week)){
          week = this.week;
        }

        if(week == null && this.week == 0){
          week = this.moment().week();
          if(this.moment().day() > 5) week++;
          this.week = week;
        }
        this.tasks = [];
        console.log('load week');
        this.db.executeSql('SELECT * FROM tasks WHERE week = "'+week+'"  ORDER BY day DESC, num ASC', [], (rs) => {
          if(rs.rows.length == 0) this.sync();
          for (var i = 0; i < rs.rows.length; i++) {
            var item = rs.rows.item(i);
            var buf = this.tasks[item.day];
            if(item.description != 'null') item.task = item.task+'...';
            if (buf != undefined){
              buf[buf.length] = item;
            }else{
              buf = [item];
            }
             self.$set(this.tasks, item.day, buf)
          }
        }, function (error) {
          console.log('SELECT SQL statement ERROR: ' + error.message);
        });
        console.warn('Loaded week: '+week);

        this.week = week;
        this.waitdailog = this.synchronized;
      }
    }
  }
</script>

<style scoped>
  table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
    padding: 0 10px;
  }
  .v-card__text{
    white-space: pre-line;
  }
</style>
