<template>
  <v-container fluid>
    <v-btn @click="reset()" color="error" >RESET</v-btn>
  </v-container>
</template>
<script>
  export default {
    name: "Main",
    data: () => ({}),
    methods: {
      reset(){
        window.sqlitePlugin.deleteDatabase({name: 'my.db', location: 'default'});
        window.localStorage.setItem('sync', false);
        navigator.app.exitApp();
      }
    }
  }
</script>
